html, body
  overflow auto !important
  background-color #161F28

.noselect
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.center-item
  margin 0px auto

/* SCROLL BARS */
::-webkit-scrollbar
  width 13px
  height 13px

::-webkit-scrollbar-thumb
  background rgba(63, 186, 133, 0.25)
  border-radius 0px
  &:hover
    background rgba(63, 186, 133, 0.4)
  &:active
    background-color rgba(63, 186, 133, 0.4)

::-webkit-scrollbar-track
  background #1D2934
  border-radius 0px

::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active
  background #1D2934
